:root {
    --main-color: #0D1117;
    --text-color: white;
    --border-color: #333;
}

body {
    background-color: var(--main-color);
    font-family: 'Arial Nova', sans-serif;
    color: var(--text-color);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid wheat;
}

h1 {
    font-family: 'Arial Nova', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-style: italic;
}

img {
    width: 25%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode {
    background-color: white;
    color: #0D1117;
}

.accordion {
    background-color: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    font-size: 26px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: var(--border-color);
}

.panel {
    padding: 0 18px;
    background-color: var(--main-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.workspace {
    font-weight: bold;
}

.position {
    font-style: italic;
}

a:link,
a:visited,
a:active {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: underline;
}